// $bg : #120041;
// $text-color : #ffffff;
// $red-hover : rgba(191, 0, 0, 0.7);
// $transparent : rgba(0,0,0,0);
// $turquoise: #16a085;
// $bright-red: rgba(191, 0, 0, 0.95);
// $background-semi-opaque:rgba(0,0,0,0.5);
// $purple-hover:rgba(130, 0, 130, 0.5);
// $neon-green:#51ff00;
// $black-semi:rgba(0, 0, 0, 0.9);
// $grey:#777;



$bg : #FFF7EC;
$text-color : #2F2415;
$red-hover : rgba(191, 0, 0, 0.7);
$transparent : rgba(0,0,0,0);
$turquoise: #121221;
$bright-red: rgba(191, 0, 0, 0.95);
$background-semi-opaque:rgba(0,0,0,0.5);
$purple-hover:rgba(130, 0, 130, 0.5);
$neon-green:#121221;
$black-semi:rgba(0, 0, 0, 0.9);
$grey:#777;